html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url(ny.jpg) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}

.social {
    color: #fff;
    position: absolute;
    left: 0;
    top: 15%;
}
.social ul li {
    margin-bottom: 50px;
    font-size: 30px;
    list-style: none;
}
.text{
    font-size: 30px;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.header{
    
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:blueviolet;
    margin-left: 45%;
}