html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url(ny.jpg) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "aleo";
    color: #000;
    font-size: 120px;
    font-weight: 900;
    background: #fff;
}

.nav {
    line-height: 250px;
}

.nav ul {
    color: #fff;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}
.nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 35px;
    font-family: 'Abril Fatface';
    font-weight: 900;
    margin: 0 25px;
    text-align: center;
    cursor:pointer;
}

.social {
    color: #fff;
    position: absolute;
    left: 0;
    top: 15%;
}
.social ul li {
    margin-bottom: 50px;
    font-size: 30px;
    list-style: none;
}

.left {
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 100vh;
    background: url(bgdashed.jpg);
    top: 0;
    left: 0;
}

.left h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 12px;
    background: #fff;
}

.right {
    cursor: pointer;
    position: absolute;
    width: 50%;
    right: 0;
    height: 100vh;
    background: url('bgdashed2.jpg');
}

.right h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 92px;
    font-weight: bolder;
    letter-spacing: 12px;
    background: #fff;
}
.but{
    display: flex;
       align-items: center;
       justify-content: center;
       width: 24rem;
       height: 3.3rem;
       border-radius: 10vw;
       font-size: 1rem;
       text-decoration: none;
       font-weight: 700;
margin: auto;
margin-top: 100px;
    
}
.footer{
 position: fixed;
 
 margin-right: 10px;
 margin-top: 90px;
 color:blue;
 font-size: 30px;
 

}